
body{
    margin: 0;
}



    

.topB {
    background-color: rgba(255, 0, 0, 0.573);
    height: 80px;
    font-size: 15px;
    
}

   
   



.navbar {
 display: grid;
 background-color: greenyellow;
 width: 180px;
 height: 220px;
 text-align: center;
 font-size: 25px;
 float: right;
 

}
.fragment {
    text-decoration: none;
    color: blue;
    font-size: 30px;
}
.any{
    margin-top: -20px;
    color: black;
   font-size: 20px;
}
footer {
    background-color: rgba(255, 0, 0, 0.573);
}
footer a {
    font-size: 30px;
    text-decoration: none;
}
 .border { 
   width: 150px;
   height: 150px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 25px;
background-color: green;
animation-name: spin;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;

}
.div {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
@keyframes spin {
    0%{
  
    }
    50%{
      transform: rotate(0);
      border-radius: 50%;
  
    }
    100%{
      transform: rotate(360deg);
      border-radius: 50%;
      scale: 2;
    }
  }



  
  
  


  .sub{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    
  }

 

 
  
  
  


  .navtable{
    background-color: rgba(255, 0, 0, 0.573);
  }

.link {
  margin: 10px;
  color: aqua;
  border-radius: 5px;
  border-color: aqua;
}
.link:hover{
  background-color: black;
}
.link2{
  text-decoration: none;
  padding: 15px;
  font-weight: 800;
  color: aqua;
}
.headertable {
  color: rgb(30, 0, 255);
}
.table{
  color: rgb(242, 0, 255);
}

.media{
  background-color: rgba(255, 0, 0, 0.573);
  height: 60px;
}
.medialink{
  color: rgb(0, 17, 255);
  float: right;
  padding: 20px;
  text-decoration: none;
}

.mediabutton:hover{
  background-color: blue;
}

.mediabody{
  background-color: cornsilk;
  color: brown;
}

.mediapic{
  background-color: black;
  display: flex;
  justify-content: center;
}

.mediavideo{
  background-color: black;
  display: flex;
  justify-content: center;
}
.mediafooter{
 display: flex;
 justify-content: center;
 animation-name: slide;
 animation-duration: 2s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: infinite;
}

@keyframes slide{
  0% {
    transform: translateX(0);
}
50% {
    transform: translateX(100px);
}
100% {
    transform: translateX(0);
}

}

/* form css */

.formContainer, .tableContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: gray;
}
.nav {
  text-decoration: none;
  color: black;
}
.formContentWrapper {
  width: 100%;
  display: flex;
}
.formPicture {
  width: 45%;
  height: max-content;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.formImgDiv {
  padding-top: 70px;
padding-left: 70px;
padding-right: 70px;
padding-bottom: 5px;

}
.formImg {
  object-fit: contain;
  width: 100%;
 
 }
.imageTexts {
  display: flex;
  justify-content: center;
  text-align: center;
}
.learn {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000812;
  font-size: 2.0rem;
  text-align: center;
  margin-bottom: 25px;
 
}
.imgFooter {
  display: flex;
  flex-direction: column;
}
.logoFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.twitter {
  padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
width: 25px;
}
.insta {
  padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
width: 25px;
}
.facebook {
  padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
width: 25px;
}
.linkedin {
  padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
width: 25px;
}
.tel {
  font-weight: 100;
  margin: 0;
  text-align: center;
}
.rightText {
  margin: 0;
  font-weight: 800;
  text-align: center;
  font-size: 1.0rem;
  padding-top: 5px;
  padding-bottom: 5px;

}
.spanDiv {
  display: flex;
  justify-content: flex-end;
  
}
.firstSpan {
  font-weight: 800;
  color: black;
  padding-top: 25px;
}

.formContent {
  width: 55%;
  background-color: white;
  flex-grow: 1;
  overflow-y: auto;
}
.signLink {
  text-decoration: none;
  color: rgb(32, 84, 210);;
}
.signUpWrapper {
  padding-left: 1.5rem;
}
.pText {
  font-weight: bolder;
  font-size: 1.3rem;
}
.pNext {
  font-weight: 100!important;
  line-height: 0.2rem;
  color: gray;
  
}
.orignalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}
.temsOfUse{
  padding-top: 20px
}
.privacy {
  color: gray;
  font-weight: 100;
}
.lastP {
  color: rgb(32, 84, 210);;
  text-decoration: none;
  font-size: 1.0rem;
}
.button {
  width: 70%;
  background-color: rgb(106, 111, 245);
  margin-bottom: 30px;
  padding: 15px;
  margin-top: 10px;
  text-align:center;
  border: none;
  border-radius: 8px;
  color: white;
}
 .input, .inputSpecial {
  padding: 1.1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(250, 235, 215, 0.336)
 }
 
.nameContainer {
  display: flex;
  gap: 20px;
}
.NameLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.label {
  color: gray;
  font-weight: 100;
}
 .NameLabelSpecial {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 75%;
} 
@media (max-width:700px) {
  .formPicture {
      display: none!important;
  }
}
.button:hover {
  background-color: blue;
}
.nav:hover {
  background-color: white;
  font-size: 30px;
}